table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 0px 6px;
  border: 1px solid #ccc;
  text-align: left;
}
tr {
    white-space: nowrap;
}

.operation-data{
}

.danger{
    border-color: brown;
    background-color: #ffd9de;
}
.success{
    border-color: mediumseagreen;
    background-color: #baffdf;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		display: none;
	}

	tr {
	    margin: 27px;
	    padding: 15px;
	    border-left: 25px solid;
	    white-space: normal;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		font-size: 44px;
	}
    .operation-data {
        display: none;
    }
    .text-danger {
        font-size: 44px;
        color: black;
    }
    .text-secondary {
        font-size: 44px;
        color: black;
    }
}
