<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/alerts.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="navbar :: head_bar(searchbarshow='true',action='/history',filter=${filter},onlyalerted=${onlyalerted})"></div>
<div class="overflow-scroll" style="padding-left:10px; padding-right:10px;">
    <table>
        <thead>
        <tr>
            <th>Age</th>
            <th>Path</th>
            <th>Text</th>
            <th>Operation data</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="alert,stat : ${alerts}">
            <tr th:class="${alert.stopDate==null ? 'danger':'success'}">
                <td th:text="${T(ua.com.serverhelp.simplemonitoring.utils.StringFormat).getTimeAgo(alert.startDate)}"></td>
                <td th:insert="simple_frag :: path-frag(path=${alert.trigger.host})"></td>
                <td th:text="${alert.trigger.getDescription()}"></td>
                <td class="operation-data" th:text="${alert.operationData}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>