<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style type="text/css">
        .span-parameter {
            padding-right: 15px;
        }
        .td-limit {
            text-align: end;
        }
    </style>
</head>
<body>
<div th:include="navbar :: head_bar(searchbarshow='false')"></div>
<div class="overflow-scroll" style="padding:10px;">
    <div>
        <div class="d-inline-block dropdown me-3">
            <button th:text="Period" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:each="period : ${T(ua.com.serverhelp.simplemonitoring.utils.StringFormat.Period).values()}" th:href="'/metrics/detail?path='+${metric.getPath()}+'&beginPeriod='+${period.getBegin()}+'&endPeriod='+${period.getEnd()}"  th:text="${period.getName()}"></a>
            </div>
        </div>
        <span style="padding: 10px" th:text="'Metric: '+${metric.path}"></span>
    </div>
    <img id="graph" style="width: 100%;height: 250px;" alt="graphic"/>
    <table style="width: 75%" class="table align-middle table-striped table-hover">
        <tr>
            <th>Value</th>
            <th class="text-end">Last</th>
            <th class="text-end">Min</th>
            <th class="text-end">Avg</th>
            <th class="text-end">Max</th>
        </tr>
        <tr th:each="tableItem:${table}">
            <td>
                <span class="span-parameter" th:each="parameter : ${tableItem.get('parameterGroup').getParameters()}" th:text="${parameter.key}+':'+${parameter.value}"></span>
            </td>
            <td class="td-limit" th:text="${T(java.lang.String).format('%,.3f',tableItem.get('limits').get('last'))}"></td>
            <td class="td-limit" th:text="${T(java.lang.String).format('%,.3f',tableItem.get('limits').get('min'))}"></td>
            <td class="td-limit" th:text="${T(java.lang.String).format('%,.3f',tableItem.get('limits').get('avg'))}"></td>
            <td class="td-limit" th:text="${T(java.lang.String).format('%,.3f',tableItem.get('limits').get('max'))}"></td>
        </tr>
    </table>
</div>
</body>
<script th:inline="javascript">
    var src='/metrics/detail/chart/'+window.innerWidth+'/250/0?path=[(${metric.path})]&beginPeriod=[(${beginPeriod})]&endPeriod=[(${endPeriod})]'
    var graph=document.getElementById('graph').setAttribute('src', src);
</script>
</html>
