<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="path-frag">
    <a class="btn btn-outline-dark btn-sm" style="border-color: #00000000;" th:href="'/metrics/events?path='+${path}">
        <th:block th:each="key,stat : ${#strings.arraySplit(path,'.')}">
            <span th:class="${stat.count>4?'text-danger':'text-secondary'}" th:if="${stat.count!=1}">.</span>
            <span th:class="${stat.count>3?'text-danger':'text-secondary'}" th:text="${key}"></span>
        </th:block>
    </a>
</div>
<div th:fragment="path-fragment">
    <a class="path-href" th:href="'/metrics/events?path='+${path}">
        <th:block th:each="key,stat : ${#strings.arraySplit(path,'.')}">
            <span th:class="dot" th:if="${stat.count!=1}">.</span>
            <span th:class="part" th:text="${key}"></span>
        </th:block>
    </a>
</div>
</body>
</html>